<%- include('./partials/header') %>

<a href="/flights/new">Add New Flight</a>

  <ul>
    <% for (let flight of flights) { %>
      <li>
        <a href="/flights/" <%=flight.id%>">
          <%= flight.flightNumber %> - <%= flight.airline %> to <%= flight.airport %> on <%= flight.departs %>
      </li>
      <% } %>
  </ul>

  <%- include('./partials/footer') %>