<%- includes('../partials/header.ejs') %>

<section id="show-page">
  <div>Airline:</div>
  <div><%= flights.airline %></div>
  <div>Airport:</div>
  <div><%= flights.airport %></div>
  <div>Flight Number:</div>
  <div><%= flights.flightNo %></div>
  <div>Departure Date:</div>
  <div><%= flights.departs %></div>
</section>

<%- includes('../partials/footer.ejs') %>
